
 
<body style="background-color: rgb(241, 241, 241)">
  <div class="container">
    <h1 class="text-danger text-center">Welcome to {{ title }}!</h1>
    <hr />
 
    <!-- <div id="fetchbtn">
      <button type="button" class="btn btn-outline-success" (click)="getAllEmployees();">Click me</button>
    </div>
    <div id="fetchbtn2">
      <button type="button" class="btn btn-outline-success" (click)="getAllFood();">Click me 2</button>
    </div>
    <div id="fetchbtnPosts">
      <button type="button" class="btn btn-outline-success" (click)="getAllPosts();">Show Posts</button>
    </div>
    <div id="fetchbtnComments">
      <button type="button" class="btn btn-outline-success" (click)="getAllComments();">Show Comments</button>
    </div> -->
    <div id="fetchbtnUsers">
      <button type="button" class="btn btn-outline-success" (click)="getAllUsers();">Show Users</button>
    </div>


    <div><small class="text-info">Click the button to fetch the employees from the database!</small></div>
 
    <div *ngIf="myresponse">
      <table class="table table-bordered table-hover">
        <thead>
          <th>Employee Id</th>
          <th>Name</th>
          <th>Phone no.</th>
          <th>Address</th>
          <th>Company Logo</th>
        </thead>
        <tbody>
          <tr *ngFor="let employee of myresponse">
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.mobile}}</td>
            <td>{{employee.address}}</td>
            <td><img src="{{employee.companylogo}}" alt="Company logo" class="img-thumbnail mx-auto d-block" style="width: 30%" /></td>
          </tr>
        </tbody>
      </table>
    </div>



    <div *ngIf="myresponse2">
      <table class="table table-bordered table-hover">
        <thead>
          <th>Food Id</th>
          <th>Name</th>
          <th>Cal</th>
          <th>pic</th>
        </thead>
        <tbody>
          <tr *ngFor="let food of myresponse2">
            <td>{{food.foodId}}</td>
            <td>{{food.dishName}}</td>
            <td>{{food.calories}}</td>
            <td><img src="{{food.picture}}" alt="Company logo" class="img-thumbnail mx-auto d-block" style="width: 50%" /></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="myresponsePosts">
      <table class="table table-bordered table-hover">
        <thead>
          <th>Post Id</th>
          <th>Author Id</th>
          <th>Post Body</th>
          <th>Pic</th>
        </thead>
        <tbody>
          <tr *ngFor="let post of myresponsePosts">
            <td>{{post.postId}}</td>
            <td>{{post.authorId}}</td>
            <td style='width: 30%'>{{post.postBody}}</td>
            <td><img src="{{post.postMedia}}" alt="Company logo" class="img-thumbnail mx-auto d-block" style="width: 50%" /></td>
          

                  <div *ngIf="post.comments?.length">
                    <table class="table table-bordered table-hover">
                      <thead>
                        <th>Comment Id</th>
                        <th>Comment Body</th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let comment of post.comments">
                          <td>{{comment.commentId}}</td>
                          <td>{{comment.commentBody}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
            </tr>
        </tbody>
      </table>
    </div>


    <div *ngIf="myresponseUsers">
      <div *ngFor="let user of myresponseUsers">
        <table class="table table-bordered table-hover" style="background-color: rgb(255, 255, 255); border-radius: 16px; border-collapse: seperate">
          <thead>
            <th>User Id</th>
            <th>User Name</th>
            <th>PW</th>
            <th>pic</th>
            <th>Org</th>
            <th>first name</th>
            <th>last name</th>
          </thead>
          <tbody>
            <tr>
              <td>{{user.userId}}</td>
              <td>{{user.userName}}</td>
              <td>{{user.password}}</td>
              <td><img src="{{user.picture}}" alt="Company logo" class="img-thumbnail mx-auto d-block" style="width: 50%" /></td>
              <td>{{user.organization}}</td>
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="user.posts?.length">
          <div *ngFor="let post of user.posts">
            <table class="table table-bordered table-hover" style="background-color: rgb(255, 255, 255)">
              <thead>
                <tr>
                  
                    <td colspan="2">
                          <img src="{{user.picture}}" class="img-thumbnail mx-auto" style="width: 7%" >
                       - <b>{{user.userName}}</b> >> <b>Posted at:</b> {{post.time | date: 'short'}}
                    </td>
                  
                </tr>
              </thead>
              <tbody>
                <tr> 
                  <td *ngIf="post.postMedia">
      
                      <img src='{{post.postMedia}}' class="img-thumbnail mx-auto d-block" style="width: 70%">
                    
                  </td>
                  <td>{{post.postBody}}</td>
                </tr>
              </tbody>
            </table>

              <div *ngIf="post.comments?.length">
                <div *ngFor="let comment of post.comments">
                  <table class="table table-bordered table-hover">
                    <tr>
                      <td style="background-color: rgb(140, 255, 136)">
                        <img src="{{myresponseUsers[comment.authorId - 1].picture}}" class="img-thumbnail mx-auto" style="width: 20%" >
                        <b>{{myresponseUsers[comment.authorId - 1].userName}}</b> - <div style="font-size: 0.8em">{{comment.commentTime | date: 'short'}}</div>
                      </td>
                      <td style="background-color: rgb(223, 255, 220); width: 75%">{{comment.commentBody}}
                      </td>
                    </tr>
                  </table>
                </div>

              </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</body>
