<form class="form-inline md-form form-sm active-cyan-2">
    <input [(ngModel)]="searchFriends" class="form-control form-control-sm mr-3 w-5" type="text"
      placeholder="Search Friends" aria-label="searchFriends" name="searchFriends" mdbInput style="margin-left: 10px;">
  </form>
  
  <ul *ngFor="let user of myresponseUsers | filter : searchFriends" class="profileText">
    <a class="profileText" (click)='onSelect(user.userId)' >
      {{user.firstName}} {{user.lastName}}
    </a>
  </ul>
  <ul *ngIf="myresponseUsers && (myresponseUsers | filter : searchFriends).length === 0" class="profileText2">
      No results found.
  </ul>