<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
				<div class="login100-form validate-form" id="login-form-validate">
					<span class="login100-form-title p-b-33">
						Recover Password
					</span>
					
					<div class="wrap-input100 u1 validate-input">
						<input class="input100" id="email" type="text" name="email" placeholder="Email">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>

					<div class="container-login100-form-btn m-t-20">
						<button (click)="onSubmit($event)" click class="login100-form-btn">
							Send Email
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>