<body id="page-top">
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <form class="login100-form validate-form" id="login-form-validate" action="/reset-password" method="post">
            <span class="login100-form-title">
              Reset Password
            </span>
            <div class="wrap-input100 validate-input">
              <input class="input100" id="pass" type="password" name="pass"
                placeholder="Password" (focus) = "focus($event)" (blur) = "blur($event)"> <span class="focus-input100-1"></span>
              <span class="focus-input100-2"></span>
            </div>
            <div class="wrap-input100 validate-input">
              <input class="input100" id="passRe" type="password" name="passRe"
                placeholder="Confirm Password" (focus) = "focus($event)" (blur) = "blur($event)"> <span
                class="focus-input100-1"></span> <span class="focus-input100-2"></span>
            </div>
            <div class="container-login100-form-btn">
              <button (click)="onSubmit($event)" click class="login100-form-btn">
                Reset Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>